<div class="body" id="register">
    <div class="page-title">
        <h1>Lista de Alas</h1>
        <button class="btn-back" ng-click="vm.goHome()">Voltar para Início</button>
    </div>
    <div class="register-container">

        <div id="message-area"></div>

        <div class="add-section">
            <div class="form-group">

            <label for="hospital-select">Selecione o hospital:</label>
              <select id="hospital-select" ng-model="vm.selectedHospitalId" ng-change="vm.listAlas()">
                <option value="" disabled selected>Escolha...</option>
                <option ng-repeat="hospital in vm.hospitals" value="{{ hospital.hospitalId }}">{{ hospital.nome }}</option>
              </select>

            </div>
        </div>

<br></br>

        <div class="control-section">
            <input type="text"
            class="stylish-input"
                   id="name-filter"
                   placeholder="🔎 Filtrar por especialidade..."
                   ng-model="vm.searchEspecialidade"
                   ng-change="vm.findAlasByEspecialidade()" />
        </div>

        <table class="list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Especialidade</th>
                </tr>
            </thead>
            <tbody class="list-inside">
                <tr ng-repeat="ala in vm.alas">
                    <td>{{ ala.alaId }}</td>
                    <td>{{ ala.especialidade }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>