<div class="body" id="register">
    <div class="page-title">
        <h1>Cadastro de Pacientes</h1>
        <button class="btn-back" ng-click="vm.goHome()">Voltar para Início</button>
    </div>
    <div class="register-container">

        <div id="message-area"></div>

        <div class="add-section">
            <h3>Adicionar Novo Paciente</h3>
            <div class="form-group">
                <label for="name">Nome do Paciente:</label>
                <input type="text" class="stylish-input" id="nome" ng-model="vm.patientName" placeholder="Digite o nome do paciente" />
                <button class="btn-add" ng-click="vm.addPatient()">Salvar</button>
            </div>
        </div>

<br></br>

        <div class="control-section">
            <input type="text"
            class="stylish-input"
                   id="name-filter"
                   placeholder="🔎 Filtrar por nome..."
                   ng-model="vm.searchName"
                   ng-change="vm.findPatientsByName()" />
        </div>

        <table class="list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="list-inside">
                <tr ng-repeat="patient in vm.patients">
                    <td>{{ patient.pacienteId }}</td>
                    <td>{{ patient.nome }}</td>
                    <td>
                        <button title="Editar nome" ng-click="vm.updatePatient(patient.pacienteId)">✏️</button>
                        <!-- <button title="Excluir" ng-click="vm.deletePatient(patient.pacienteId)">❌</button>'' -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>