<div class="body" id="register">
    <div class="page-title">
        <h1>Cadastro de Hospitais</h1>
        <button class="btn-back" ng-click="vm.goHome()">Voltar para Início</button>
    </div>
    <div class="register-container">

        <div id="message-area"></div>

        <div class="add-section">
            <h3>Adicionar Novo Hospital</h3>
            <div class="form-group">
                <label for="name">Nome do Hospital:</label>
                <input type="text" class="stylish-input" id="nome" ng-model="vm.hospitalName" placeholder="Digite o nome do hospital" />
                <button class="btn-add" ng-click="vm.addHospital()">Salvar</button>
            </div>
        </div>

<br></br>

        <div class="control-section">
            <input type="text"
            class="stylish-input"
                   id="name-filter"
                   placeholder="🔎 Filtrar por nome..."
                   ng-model="vm.searchName"
                   ng-change="vm.findHospitalsByName()" />
        </div>

        <table class="list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="list-inside">
                <tr ng-repeat="hospital in vm.hospitals">
                    <td>{{ hospital.hospitalId }}</td>
                    <td>{{ hospital.nome }}</td>
                    <td>
                        <button title="Editar nome" ng-click="vm.updateHospital(hospital.hospitalId)">✏️</button>
                        <button title="Excluir" ng-click="vm.deleteHospital(hospital.hospitalId)">❌</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>