<div id="admission">
  <div id="admission-container">
    <div id="admission-title">
      <h1>Internações</h1>
    </div>
    <div id="admit">
      <h2>Internar Paciente</h2>

      <label for="name-admit">Nome:</label>
      <input id="name-admit" type="text" ng-model="vm.patientName" ng-change="vm.searchPatients(vm.patientName)" />

      <ul ng-if="vm.patientResults.length">
        <li ng-repeat="p in vm.patientResults" ng-click="vm.selectPatient(p)" style="cursor: pointer;">
          {{ p.name }}
        </li>
      </ul>

      <label for="hospital-admit">Selecione o hospital:</label>
      <select id="hospital-admit" ng-model="vm.selectedHospitalId" ng-change="vm.bedPageNumber = 0; vm.loadAvailableBeds()">
        <option ng-value="null" selected disabled hidden>Escolha...</option>
        <option ng-value="1">Todos</option>
        <option ng-repeat="h in vm.hospitals" value="{{ h.id }}">{{ h.name }}</option>
      </select>

      <label for="specialty-admit">Selecione a especialidade:</label>
      <select id="specialty-admit" ng-model="vm.selectedSpecialty" ng-change="vm.bedPageNumber = 0; vm.loadAvailableBeds()">
        <option ng-value="''" selected hidden>Escolha...</option>
        <option ng-value="''">Todos</option>
        <option value="CARDIOLOGY">Cardiologia</option>
        <option value="NEUROLOGY">Neurologia</option>
        <option value="ORTHOPEDICS">Ortopedia</option>
      </select>

      <label for="bed-admit">Selecione a cama:</label>
      <table id="bed-admit">
        <thead>
        <tr>
          <th>Código</th>
          <th>Selecionar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bed in vm.availableBeds">
          <td>{{ bed.bedCode }}</td>
          <td><button ng-click="vm.selectedBedId = bed.bedId">Selecionar</button></td>
        </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button ng-disabled="vm.bedPageNumber === 0"
                ng-click="vm.bedPageNumber = vm.bedPageNumber - 1; vm.loadAvailableBeds()">Anterior</button>

        <span>Página {{ vm.bedPageNumber + 1 }} de {{ vm.bedTotalPages }}</span>

        <button ng-disabled="vm.bedPageNumber >= vm.bedTotalPages - 1"
                ng-click="vm.bedPageNumber = vm.bedPageNumber + 1; vm.loadAvailableBeds()">Próxima</button>
      </div>


      <p ng-if="vm.selectedBedId">Cama selecionada: {{ vm.selectedBedId }}</p>
      <button id="button-admit" ng-click="vm.admitPatient()">Internar</button>
    </div>

    <table id="currently-admitted">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Hospital</th>
        <th>Especialidade</th>
        <th>Quarto</th>
        <th>Data de Entrada</th>
        <th>Dias Internado</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="patient in vm.admittedPatients">
        <td>{{ patient.patientName }}</td>
        <td>{{ patient.hospitalName }}</td>
        <td>{{ patient.specialty }}</td>
        <td>{{ patient.roomCode }}</td>
        <td>{{ patient.admissionDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ patient.daysAdmitted }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>