<div class="top-bar">
  <h1 class="titulo">{{ vm.name }}</h1>

    <div class="menu-container">
<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'hospital'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Hospitais</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'hospital' }">
        <button ui-sref="registerHospital">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'ala'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Ala</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'ala' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'quarto'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Quarto</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'quarto' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'leito'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Leito</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'leito' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'paciente'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Paciente</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'paciente' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>


</div>
</div>

<div style="text-align: center; opacity: 45%;">
<img src="sg.png" width="300" height="300" alt="Logo SG">
</div>



<!-- 


<nav>

    <ul>

<li>
<a href="#">Hospitais</a>

<ul>
<li><a ui-sref="registerHospital">Cadastro</a></li>
</ul>

</li>
</ul>

<li>
    <a href="#">Pessoas</a>

<ul>
<li><a ui-sref="registerPatient">Cadastro</a></li>
<li><a ui-sref="admission">Internações</a></li>
</ul>

</li>

<li>
      <li><a href="#">Relatório</a></li>
</li> -->


    <!-- <ul>

        <li>
            <a href="#">Hospitais</a>

            <ul class="submenu">
                <li><a ui-sref="registerHospital">Cadastro</a></li>
            </ul>

        </li>



        <li>
            <a href="#">Pessoas</a>

            <ul class="submenu">
                <li><a ui-sref="registerPatient">Cadastro</a></li>
                <li><a ui-sref="admission">Internações</a></li>
            </ul>

        </li>


        <li><a href="#">Relatório</a></li>

    </ul> -->


<!-- 
</nav>
 -->



<!-- <li>
<a href="https://www.educba.com/tutorials/">Tutorials</a>
<ul>
<li>
<a href="#">Finance</a>
</li>
<li>
<a href="#">Data Science</a>
</li>
<li>
<a href="#">Sofware Development</a>
</li>
<li>
<a href=#">Design</a>
</li>
<li>
<a href="#">Excel</a>
</li>
<li>
<a href="#">Others</a>
</li>
</ul>
</li>
<li>
<a href="https://www.educba.com/courses/">Certification Courses</a>
<ul>
<li>
<a href="#">Finance</a>
</li>
<li>
<a href="#">Data Science</a>
</li>
<li>
<a href="#">Sofware Development</a>
</li>
<li>
<a href=#">Design</a>
</li>
<li>
<a href="#">Excel</a>
</li>
<li>
<a href="#">Others</a>
</li>
</ul>
</li>
</ul> -->




<!-- <div>
    <h2>{{ vm.mensagem }}</h2>
    <p>Utilize o menu de navegação acima para acessar as funcionalidades do sistema.</p>
</div> -->