<div class="top-bar">
  <h1 class="titulo">{{ vm.name }}</h1>




    <div class="menu-container">
<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'hospital'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Hospitais</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'hospital' }">
        <button ui-sref="registerHospital">Cadastrar</button>
        <button ui-sref="listHospital">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'ala'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Ala</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'ala' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'quarto'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Quarto</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'quarto' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'leito'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Leito</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'leito' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>

<div class="menu-item"
         ng-mouseenter="vm.menuAtivo = 'paciente'"
         ng-mouseleave="vm.menuAtivo = ''">
      <button class="menu-button">Paciente</button>
      <div class="submenu" ng-class="{ 'show': vm.menuAtivo === 'paciente' }">
        <button ng-click="vm.acao('Cadastrar Hospital')">Cadastrar</button>
        <button ng-click="vm.acao('Listar Hospitais')">Listar</button>
      </div>
  </div>


</div>
</div>

<div class="logo-container" style="text-align: center; opacity: 65%;">
<img src="sg.png" width="250" height="250" alt="Logo SG">
</div>