html, body {
    margin: 0;
    padding: 0;
}

 body {
    margin: 0;
    background-color: #E7E8E2; /* verde claro de fundo */
    font-family: Arial, sans-serif;
  }

  .top-bar {
    background-color: #007788; /* verde escuro */
    padding: 2.4rem;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;     /* Alinha verticalmente */
    justify-content: center;
  }

  .top-bar .titulo {
    color: white;
    font-size: 2.5rem;
        font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .top-bar button {
    background-color: #005465; /* botão verde médio */
    color: white;
    border: none;
    padding: 0.75rem 4rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }

    .top-bar button:hover {
    background-color: #003d49; /* verde mais escuro ao passar o mouse */
  }

.menu-container {
  display: flex;
  gap: 20px;
}

.menu-item {
  position: relative;
}

.menu-button {
  background-color: #34495e;
  border: none;
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.menu-button:hover {
  background-color: #733d3d;
}

.submenu {
  position: absolute;
  top: 107%;
  left: 0;
  background-color: #1f6475;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  border-radius: 9px;
  min-width: 130px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.submenu button {
  padding: 10px 14px;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.3s ease;
}

.submenu button:hover {
  background-color: #bdc3c7;
}

.submenu.show {
  opacity: 1;
  max-height: 300px;
  pointer-events: auto;
}

  .lista-rolagem {
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 100px; /* Ajuste a altura conforme necessário */
  overflow: hidden; /* Inicialmente, oculta a barra de rolagem */
}

.lista-rolagem:hover {
  overflow: auto; /* Mostra a barra de rolagem quando o mouse paira */
}
  
