<div class="body" id="register">
    <div class="page-title">
        <h1>Lista de Hospitais</h1>
    </div>
    <div class="register-container">

        <div id="message-area"></div>


<br></br>

        <div class="control-section">
            <input type="text"
            class="stylish-input"
                   id="name-filter"
                   placeholder="🔎 Filtrar por nome..."
                   ng-model="vm.searchName"
                   ng-change="vm.findHospitalsByName()" />
        </div>

        <table class="list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody class="list-inside">
                <tr ng-repeat="hospital in vm.hospitals">
                    <td>{{ hospital.hospitalId }}</td>
                    <td>{{ hospital.nome }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>